---
import Layout from '@layouts/Default.astro';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
import { Pill } from '@eliancodes/brutal-ui';
import pdfen from 'src/components/pdf/gabriel-palhares-cv-english.pdf';
import pdfpt from 'src/components/pdf/gabriel-palhares-cv-portugues.pdf';

const skills = [
  { name: 'Typescript', url: 'https://www.typescriptlang.org/' },
  { name: 'React', url: 'https://react.dev/' },
  { name: 'Next.js', url: 'https://nextjs.org/' },
  { name: 'TailwindCSS', url: 'https://tailwindcss.com/' },
  { name: 'Node.js', url: 'https://nodejs.org/en' },
  { name: 'Go', url: 'https://go.dev/', alt: 'Go website' },
  { name: 'Git', url: 'https://git-scm.com/' },
  { name: 'PostgreSQL', url: 'https://www.postgresql.org/' },
  { name: 'SQLite', url: 'https://www.sqlite.org/', alt: 'SQLite website' },
  { name: 'Jest', url: 'https://jestjs.io/' },
  { name: 'Vitest', url: 'https://vitest.dev/' },
  { name: 'Javascript', url: 'https://www.javascript.com/' },
  { name: 'HTML5' },
  { name: 'CSS3' },
  { name: 'GitHub', url: 'https://github.com/' },
  { name: 'Data Structures' },
  { name: 'Algorithms' },
];

const languages = [
  { name: 'Portuguese' },
  { name: 'English C1' },
  { name: 'Spanish A1' },
];
---

<Layout
  title='Curriculum'
  pageTitle='Curriculum page'
  description='Gabriel Palhares cv page.'
>
  <main class='bg-blue p-6 flex-grow'>
    <div class="flex gap-4 justify-center mb-4">
      <Button
        target={'_blank'}
        href={pdfen}>
          CV Download en-us &darr;
      </Button>  
      <Button
        target={'_blank'}
        href={pdfpt}>
          CV Download pt-br &darr;
      </Button>
    </div>
    <section id='cards' class='grid md:grid-cols-8 gap-6'>
    <div class='col-span-4 md:col-span-3'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <h2 class='outfit text-2xl md:text-4xl lg:text-6xl'>
              About me
            </h2>
            <section class='poppins'>
              <p class="mb-3">
                <strong>Hi, my name is Gabriel,</strong> also known as <strong>minortypo</strong>.
                I'm a full-stack web developer and a lifelong computer science student.
                I enjoy what I do, and I love getting better at what I do.
              </p>
              <p class="mb-3">
                <strong>I work on providing solutions</strong> both in front-end and back-end development, using technologies like JavaScript, TypeScript, React.js, and Node.js.
                I also have practical knowledge with relational databases, such as PostgreSQL and SQLite.
              </p>
              <p>
                <strong>When I'm not coding,</strong> you'll find me enjoying mountain biking and living an outdoor lifestyle.
                I'm passionate about trails, waterfalls, landscapes, and sunsets.
              </p>
            </section>
          </div>
        </Card>
    </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl md:text-4xl xl:text-6xl'>
            Education
          </h2>
            <ol class="poppins">
              <li>
                <p><strong>Bachelor - Analysis and Systems Development</strong></p>
                <p></p><strong>PUC Minas</strong></p>
                <p class="block">
                  <time datetime="2022">2022</time> - <time datetime="2025">2025</time>
                </p>
              </li>  
              <hr class="border-t-2 border-black my-4">
             <li>
                <p><strong>Extension program - Modern Software Engineering</strong>
                <p><strong>UFMG</strong></p>
                <p class="block">
                  <time datetime="2024">2024</time> - <time datetime="2025">2025</time>
                </p>
              </li>
              <hr class="border-t-2 border-black my-4">
              <li>
                <p><strong>Bachelor - Law</strong></p>
                <p><strong>Faculdade Asa de Brumadinho</strong></p>
                <p class="block">
                  <time datetime="2019">2019</time> - <time datetime="2023">2023</time>
                </p>
              </li>
            </ol>
        </Card>
    </div>
    <div class='col-span-4 md:col-span-3'>
            <Card>
              <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
                Skills
              </h2>
              <ul class='flex gap-4 flex-wrap'>
                {
                  skills.map((item) => (
                    <li>
                      <Pill>
                        <a
                          class='sanchez'
                          href={item.url}
                          target='_blank'
                          title={`Go to ${item.name}`}
                        >
                          {item.name}
                        </a>
                      </Pill>
                    </li>
                  ))
                }
              </ul>
            </Card>
    </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
            Courses
          </h2>
          <ol class="poppins">
            <li class='mb-3'>
              <p>
                <strong>Ignite - React.js</strong>
              </p>
              <p>Rocketseat</p>
            </li>
            <li class='mb-3'>
              <p>
              <strong>Ignite - Node.js</strong>
              </p>
              <p>Rocketseat</p>
            </li>
            <li class='mb-3'>
              <p>
                <strong>The Last Algorithms Course You'll Need</strong>
              <p/>
                <p>Frontend Masters - ThePrimeagen</p>
            </li>
            <li class='mb-3'>
              <p>
                <strong>JavaScript Algorithms and Data Structures Masterclass</strong>
              </p>
              <p>Udemy - Colt Steele</p>
          </li>
            <li class='mb-3'>
              <p>
                <strong>Cs50 - Introduction to Computer Science</strong>
              </p>
              <p>Harvard University</p>
            </li>
            <li>
              <p>
                <strong>Startup Creation: How to Develop Innovative Businesses</strong>
              </p>
              <p>USP - University of São Paulo</p>
            </li>
          </ol>
        </Card>
    </div>
    <div class='col-span-4 md:col-span-2'>
      <Card>
        <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
          Work
        </h2>
        <ol class="poppins">
          <li>
              <p><strong>Full-stack Developer</strong></p>
              <p><strong>Career transition</strong></p>
              <p class="block mb-3">
                <time datetime="2024-01" class="block">October 2023 - Present</time>
              </p>
              <p>
                <span class="font-bold">Development</span> of software and web applications, freelance jobs, personal, and study projects.
              </p>
          </li>
          <hr class="border-t-2 border-black my-4">
          <li>
            <p><strong>Judicial Assistant</strong></p>
            <p><strong>TJMG - Court of Justice of Minas Gerais</strong></p>
            <p class="block mb-3">
              <time datetime="2022-09">January 2022</time> - <time datetime="2023-12">July 2023</time>
            </p>
            <p>
              <span class="font-bold">Processing</span> judicial cases through the Electronic Judicial Process system (PJe), performing procedural acts related to Family, Juvenile, Civil, and Criminal courts.
            </p>
        </li>
        <hr class="border-t-2 border-black my-4">
          <li>
            <p><strong>Administrative Manager</strong></p>
            <p><strong>R&R Transportes</strong></p>
            <p class="block mb-3">
              <time datetime="2020-08">January 2020</time> - <time datetime="2022-08">December 2021</time>
            </p>
            <p>
              <span class="font-bold">Administrative,</span> financial, and organizational management of the company. Data control using spreadsheets and analysis in Excel, as well as data management and visualization with Power BI.
            </p>
        </li>
  </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl ml:text-4xl ll:text-6xl'>
            Languages
          </h2>
          <ul class='flex gap-4 flex-wrap mb-4'>
            {
              languages.map((item) => (
                <li>
                  <Pill>
                    <a class='sanchez'>
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
          <section class="poppins">
            <p class="mb-3"><strong>I was born in Brazil,</strong> so my native language is Brazilian Portuguese. Since childhood, I've always had a strong interest in history and geography. I remember one of my hobbies was playing with a world globe we had at school, which one day sparked my curiosity and desire to learn other languages.</p>
            <p class="mb-3"><strong>During my teenage years,</strong> I had the opportunity and privilege to study English as a Second Language (ESL). From that point on, I started consuming all sorts of content in English: books, movies, series, music, and over time, I became very proficient in the language.</p>
            <p><strong>Recently,</strong> I've developed a strong passion for Latin American countries, inspiring me to learn Spanish. I look forward to traveling and exploring Brazil's neighbors, so I hope to become fluent soon. This will allow me to communicate in places such as Argentina, Chile, Peru, and even Spain someday.</p>
          </section>
    </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
            Where am I?
          </h2>
            <section class='poppins'>
              <p class="mb-3">
                <strong>Belo Horizonte, Minas Gerais, Brazil</strong>
              </p>
              <p class="mb-3"><strong>The vibrant</strong> capital of Minas Gerais, known for it's lively culture, rich history, and irresistible 'pão de queijo' passion.</p>
              <p><strong>I am available</strong> for remote work, or hybrid work in Belo Horizonte area.</p>
            </section>
    </div>
    </section>
  </main>
</Layout>