---
import Layout from '@layouts/Default.astro';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
import { Pill } from '@eliancodes/brutal-ui';
import pdf from '../pdf/cv - Gabriel Eduardo Palhares.pdf';

const skills = [
  { name: 'Typescript', url: 'https://www.typescriptlang.org/' },
  { name: 'React', url: 'https://react.dev/' },
  { name: 'TailwindCSS', url: 'https://tailwindcss.com/' },
  { name: 'Node.js', url: 'https://nodejs.org/en' },
  { name: 'Golang', url: 'https://go.dev/' },
  { name: 'Git', url: 'https://git-scm.com/' },
  { name: 'MongoDB', url: 'https://www.mongodb.com/' },
  { name: 'PostgreSQL', url: 'https://www.postgresql.org/' },
  { name: 'Javascript', url: 'https://www.javascript.com/' },
  { name: 'HTML5' },
  { name: 'CSS3' },
  { name: 'GitHub', url: 'https://github.com/' },
  { name: 'eXtreme Programming', url: 'http://www.extremeprogramming.org/' },
  { name: 'Estrutura de Dados' },
  { name: 'Algoritmos' },
];

const idiomas = [
  { name: 'Português (Brasil) - Língua nativa' },
  { name: 'Inglês C1 - Nível avançado' },
  { name: 'Espanhol A1 - Nível básico' },
];
---

<Layout
  title='Curriculum'
  pageTitle='Curriculum Vitae'
  description='Gabriel Palhares cv page.'
>
  <main class='bg-blue p-6'>
    <div class="flex items-center justify-center mb-4">
        <Button
            target={'_self'}
            href={pdf}>
            CV Download &darr;
        </Button>
    </div>
    <section id='cards' class='grid md:grid-cols-8 gap-6'>
    <div class='col-span-4 md:col-span-3'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <h2 class='outfit text-2xl md:text-4xl lg:text-6xl'>
              Sobre
            </h2>
            <p class='poppins'>
               Sou um desenvolvedor web full-stack e um eterno estudante de computação.
               Trabalho trazendo soluções tanto em front-end quanto em back-end, utilizando tecnologias como JavaScript, TypeScript, React.js e Node.js.
               Também possuo conhecimento prático em bancos de dados relacionais e não relacionais, como PostgreSQL e MongoDB.
            </p>
            <p class='poppins'>
               Quando não estou codando, você provavelmente vai me encontrar praticando mountain bike e vivendo um estilo de vida conectado à natureza. Sou apaixonado por trilhas, cachoeiras, paisagens e em colecionar pores do sol.
            </p>
          </div>
        </Card>
    </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
            Formação acadêmica
          </h2>
            <ol>
                <li>
                    <p class='poppins mb-3'>
                    <strong>• Bacharelado - Direito</strong>
                    <br />
                    Faculdade Asa de Brumadinho / 2019 - 2023
                    </p>
                </li>
                <li>
                    <p class='poppins mb-3'>
                    <strong>• Bacharelado em Tecnologia - Análise e Desenvolvimento de Sistemas</strong>
                    <br />
                    PUC Minas / 2022 - 2024
                    </p>
                </li>
                <li>
                    <p class='poppins'>
                    <strong>• Extensão Universitária - Engenharia de Software Moderna</strong>
                    <br />
                    UFMG / 2024 - 2024
                    </p>
                </li>
            </ol>
        </Card>
    </div>
    <div class='col-span-4 md:col-span-3'>
            <Card>
              <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
                Skills
              </h2>
              <ul class='flex gap-4 flex-wrap'>
                {
                  skills.map((item) => (
                    <li>
                      <Pill>
                        <a
                          class='sanchez'
                          href={item.url}
                          target='_blank'
                          title={`Go to ${item.name}`}
                        >
                          {item.name}
                        </a>
                      </Pill>
                    </li>
                  ))
                }
              </ul>
            </Card>
    </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
            Cursos
          </h2>
            <ol>
                <li>
                    <p class='poppins mb-3'>
                    <strong>Cs50 - Introduction to Computer Science</strong>
                    <br />
                    Harvard University
                    </p>
                </li>
                <li>
                    <p class='poppins mb-3'>
                    <strong>Fundamentals & Full-stack JavaScript</strong>
                    <br />
                    The Odin Project
                    </p>
                </li>
                <li>
                    <p class='poppins mb-3'>
                    <strong>The Last Algorithms Course You'll Need</strong>
                    <br />
                    ThePrimeagen - Frontend Masters
                    </p>
                </li>
                <li>
                    <p class='poppins mb-3'>
                    <strong>eXtreme Programming</strong>
                    <br />
                    Alura
                    </p>
                </li>
                <li>
                    <p class='poppins mb-3'>
                    <strong>Criação de Startups: Como desenvolver negócios inovadores</strong>
                    <br />
                    USP - Universidade de São Paulo
                    </p>
                </li>
                <li>
                    <p class='poppins'>
                    <strong>Advanced React</strong>
                    <br />
                    Meta
                    </p>
                </li>
            </ol>
        </Card>
    </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
            Idiomas
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              idiomas.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
    </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
            Onde estou?
          </h2>
            <p class='poppins mb-3'>
              <strong>• Brumadinho - Minas Gerais</strong>
              <br />
              Há 50km de distância da capital Belo Horizonte.
              Disponível para trabalhos remotos e/ou híbridos.
            </p>
    </div>
    </section>
  </main>
</Layout>