---
import Layout from '@layouts/Default.astro';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
import { Pill } from '@eliancodes/brutal-ui';
import pdfenus from 'src/components/pdf/cv - englishUS.pdf';
import pdfptbr from 'src/components/pdf/cv - portuguesBR.pdf';

const skills = [
  { name: 'Typescript', url: 'https://www.typescriptlang.org/' },
  { name: 'React', url: 'https://react.dev/' },
  { name: 'Next.js', url: 'https://nextjs.org/' },
  { name: 'TailwindCSS', url: 'https://tailwindcss.com/' },
  { name: 'Nest.js', url: 'https://nestjs.com/' },
  { name: 'Node.js', url: 'https://nodejs.org/en' },
  { name: 'Go', url: 'https://go.dev/' },
  { name: 'Git', url: 'https://git-scm.com/' },
  { name: 'MongoDB', url: 'https://www.mongodb.com/' },
  { name: 'PostgreSQL', url: 'https://www.postgresql.org/' },
  { name: 'Jest', url: 'https://jestjs.io/' },
  { name: 'Vitest', url: 'https://vitest.dev/' },
  { name: 'Javascript', url: 'https://www.javascript.com/' },
  { name: 'HTML5' },
  { name: 'CSS3' },
  { name: 'GitHub', url: 'https://github.com/' },
  { name: 'Data Structures' },
  { name: 'Algorithms' },
];

const languages = [
  { name: 'Portuguese' },
  { name: 'English C1' },
  { name: 'Spanish A1' },
];
---

<Layout
  title='Cv'
  pageTitle='Curriculum Vitae'
  description='Gabriel Palhares cv page.'
>
  <main class='bg-blue p-6'>
    <div class="flex gap-4 justify-center mb-4">
      <Button
        target={'_self'}
        href={pdfenus}>
          CV Download en-us &darr;
      </Button>  
      <Button
        target={'_self'}
        href={pdfptbr}>
          CV Download pt-br &darr;
      </Button>
    </div>
    <section id='cards' class='grid md:grid-cols-8 gap-6'>
    <div class='col-span-4 md:col-span-3'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <h2 class='outfit text-2xl md:text-4xl lg:text-6xl'>
              About me
            </h2>
            <p class='poppins'>
              I'm a full-stack web developer and a lifelong computer science student.
              I work on providing solutions both in front-end and back-end, using technologies like JavaScript, TypeScript, React.js, and Node.js.
              I also have practical knowledge in relational and non-relational databases, such as PostgreSQL and MongoDB.
            </p>
            <p class='poppins'>
              When I'm not coding, you'll find me enjoying mountain biking and living an outdoor lifestyle.
              I'm passionate about trails, waterfalls, landscapes, and collecting sunsets.
            </p>
          </div>
        </Card>
    </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
            Education
          </h2>
            <ol>
                <li>
                    <p class='poppins mb-3'>
                    <strong>• Bachelor's degree - Law</strong>
                    <br />
                    Faculdade Asa de Brumadinho / 2019 - 2023
                    </p>
                </li>
                <li>
                    <p class='poppins mb-3'>
                    <strong>• Bachelor in Tech - Analysis and Systems Development</strong>
                    <br />
                    PUC Minas / 2022 - 2024
                    </p>
                </li>
                <li>
                    <p class='poppins'>
                    <strong>• University extension program - Modern Software Engineering</strong>
                    <br />
                    UFMG / 2024 - 2024
                    </p>
                </li>
            </ol>
        </Card>
    </div>
    <div class='col-span-4 md:col-span-3'>
            <Card>
              <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
                Skills
              </h2>
              <ul class='flex gap-4 flex-wrap'>
                {
                  skills.map((item) => (
                    <li>
                      <Pill>
                        <a
                          class='sanchez'
                          href={item.url}
                          target='_blank'
                          title={`Go to ${item.name}`}
                        >
                          {item.name}
                        </a>
                      </Pill>
                    </li>
                  ))
                }
              </ul>
            </Card>
    </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
            Courses
          </h2>
          <ol>
            <li>
                <p class='poppins mb-3'>
                <strong>JavaScript Algorithms and Data Structures Masterclass</strong>
                <br />
                Udemy - Colt Steele
                </p>
            </li>
            <li>
              <p class='poppins mb-3'>
                <strong>The Last Algorithms Course You'll Need</strong>
                <br />
                Frontend Masters - ThePrimeagen
                </p>
            </li>
            <li>
              <p class='poppins mb-3'>
              <strong>Startup Creation: How to Develop Innovative Businesses</strong>
              <br />
              USP - University of São Paulo
              </p>
            </li>
            <li>
              <p class='poppins mb-3'>
              <strong>Cs50 - Introduction to Computer Science</strong>
              <br />
              Harvard University
              </p>
            </li>
            <li>
              <p class='poppins mb-3'>
              <strong>Ignite - Node.js</strong>
              <br />
              Rocketseat
              </p>
            </li>
            <li>
              <p class='poppins'>
              <strong>Ignite - React.js</strong>
              <br />
              Rocketseat
              </p>
            </li>
          </ol>
        </Card>
    </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
            Languages
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              languages.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
    </div>
    <div class='col-span-4 md:col-span-2'>
        <Card>
          <h2 class='dm-serif mb-4 text-2xl md:text-4xl lg:text-6xl'>
            Where am I?
          </h2>
            <p class='poppins mb-3'>
              <strong>• Belo Horizonte, Minas Gerais, Brazil</strong>
              <br />
              Brazil's vibrant capital of Minas Gerais, known for it's lively culture, rich history, and irresistible 'pão de queijo' passion.
              I'm available for remote and/or hybrid work.
            </p>
    </div>
    </section>
  </main>
</Layout>